#myInput {
    width: 90%; /* Full-width */
    font-size: 60px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 0px solid #ddd; /* Add a grey border */
    margin-bottom: 32px; /* Add some space below the input */
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 0px solid #ddd; /* Add a grey border */
    font-size: 40px; /* Increase font-size */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  /* #myTable tr {
    /* Add a bottom border to all table rows */
    /* border-bottom: 0px solid #ddd; */
  /* } */
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #fcdfce;
  }